@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  padding: 0 auto;
  margin: 0 auto;
  font-family: "Source Sans Pro", sans-serif;
  background-color: var(--white);
}

:root {
  --secondary: #692a90;
  --white: #ffffff;
  --black: #000000;
  --lighterSecondary: #8c44ae;
  --defaultPadding: 20px;
  --ash: #c4c4c4;
  --pink: #be8dd6;
  --inputBackground: #f8f9ff;
  --lightPink: #f3d8ff;
  --red: red;
}


a:hover, a:focus, a:active{
  color: var(--lighterSecondary);
}


header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--defaultPadding);
  width: 100%;
  background-color: var(--white);
  z-index: 100;
}

header nav {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
}

header nav div.navItems {
  display: flex;
  flex-direction: row;
  gap: 50px;
  width: 61%;
}

header nav div.navItems a {
  font-size: 18px;
  padding: 0px;
}

header #brandName {
  color: var(--secondary);
  font-size: 40px;
  flex: 1;
  letter-spacing: 0.1px;
  font-weight: bold;
  width: 70%;
}

header a {
  border: none;
  border-radius: 5px;
  margin: 0;
  text-align: left;
  height: 40px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}

header a:hover,
a:focus,
a:active {
  color: var(--lighterSecondary);
  font-weight: bold;
  transition: all 0.5s ease;
}


main {
  width: 90%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
}
main section#desktopBackground {
  display: none;
}
#aboutSection{
  margin: 170px 0px 50px 0px ;
  width: 90%;
  text-align:left;
  font-weight: 500;
  font-size: 18px;
  font-family: 'Source Sans Pro';
  line-height: 33px;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 50px;

}
#aboutSection a{
 align-self: flex-start;
 color: #692a90;
}
footer{
  width: 100%;
  height: 100px;
  background-color: var(--secondary);
}



