@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  padding: 0 auto;
  margin: 0 auto;
  font-family: "Source Sans Pro", sans-serif;
  background-color: var(--white);
}

:root {
  --secondary: #692a90;
  --white: #ffffff;
  --black: #000000;
  --lighterSecondary: #8c44ae;
  --defaultPadding: 20px;
  --ash: #c4c4c4;
  --pink: #be8dd6;
  --inputBackground: #f8f9ff;
  --lightPink: #f3d8ff;
  --red: red;
}


a:hover, a:focus, a:active{
  color: var(--lighterSecondary);
}


header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--defaultPadding);
  width: 100%;
  background-color: var(--white);
  z-index: 100;
}

header nav {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
}

header nav div.navItems {
  display: flex;
  flex-direction: row;
  gap: 50px;
  width: 61%;
}

header nav div.navItems a {
  font-size: 18px;
  padding: 0px;
}

header #brandName {
  color: var(--secondary);
  font-size: 40px;
  flex: 1;
  text-align: left;
  margin: 0;
  letter-spacing: 0.1px;
  font-weight: bold;
  width: 70%;
}

header a {
  border: none;
  border-radius: 5px;
  margin: 0;
  text-align: left;
  height: 40px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}

header a:hover,
a:focus,
a:active {
  color: var(--lighterSecondary);
  font-weight: bold;
  transition: all 0.5s ease;
}

#nav-bar {
  display: flex;
  flex-direction: column;
}
#nav-bar :first-child {
  width: 50px;
  height: 3px;
  background-color: var(--secondary);
  margin-bottom: 10px;
}
#nav-bar :nth-child(2) {
  width: 30px;
  height: 3px;
  background-color: var(--secondary);
  margin-left: auto;
}
#nav-bar {
  display: none;
}
#nav-barx {
  display: none;
}

#nav-barx {
  width: 40px;
  height: 40px;
  display: grid;
  position: relative;
  place-items: center;
}
#nav-barx div {
  width: 90%;
  height: 8%;
  position: absolute;
  bottom: 50%;
  background-color: var(--secondary);
}

#nav-barx div:nth-of-type(1) {
  transform: rotateZ(45deg);
}
#nav-barx div:nth-of-type(2) {
  transform: rotateZ(-45deg);
}

#menu {
  position: fixed;
  width: 80%;
  transition: 0.5s;
  padding: 0%;
  top: 0;
  background-color: var(--white);
  margin: 0%;
  left: 100%;
  z-index: 200;
  height: 90px;
}
#menu > div {
  width: 90%;
  font-weight: 400;
  height: 90%;
  display: flex;
  margin: 0 auto;
  padding: 0%;
  align-items: center;
  gap: 15%;
  font-size: 15px;
  color: #000000;
  justify-content: center;
}
#menu {
  display: none;
}
#menu a {
  color: var(--black);
}
#menu a:hover,
a:focus,
a:active {
  color: var(--lighterSecondary);
  font-weight: bold;
  transition: all 0.5s ease;
}
main {
  width: 90%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
}
main section#desktopBackground {
  display: none;
}
#aboutSection{
  margin: 170px 0px 50px 0px ;
  width: 90%;
  text-align:left;
  font-weight: 500;
  font-size: 18px;
  font-family: 'Source Sans Pro';
  line-height: 33px;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 50px;

}
footer{
  width: 100%;
  height: 100px;
  background-color: var(--secondary);
}


@media screen and (max-width: 900px){
  header {
    display: flex;
    align-items: left;
    width: 100%;
    justify-content: space-evenly;
  }
  header a{
    display: none;
  }
  header #brandName{
    text-align: left;
    width: 80%;
    margin: 0%;
    padding: 0%;
  }
  #nav-bar{
    display: flex;
    margin-left: -25%;
  }
  #nav-barx{
    display: none;
    margin-left: -20%;
  }
  #menu{
    display: block;
    
  }


}