@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
  background-color: var(--inputBackground);
}

:root {
  --secondary: #692a90;
  --white: #ffffff;
  --black: #000000;
  --lighterSecondary: #8c44ae;
  --defaultPadding: 20px;
  --ash: #c4c4c4;
  --pink: #be8dd6;
  --inputBackground: #f8f9ff;
  --lightPink: #f3d8ff;
}

/* Global styles */

.no-scroll {
  overflow: hidden;
}
a,
a:active,
a:hover,
a:visited,
a:focus {
  text-decoration: none;
}
span.lighterSelectedText {
  color: var(--lighterSecondary);
}
span.secondarySelectedText {
  color: var(--secondary);
  position: relative;
  font-weight: bold;
}

span.secondarySelectedText::before {
  content: "";
  display: block;
  width: 97%;
  height: 10px;
  position: absolute;
  left: -50%;
  right: -50%;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  z-index: -1;
  background-color: var(--lightPink);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--defaultPadding);
  box-shadow: 1px 0 5px -2px var(--ash);
  width: 100%;
  background-color: var(--inputBackground);
  z-index: 100;
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header h1#brandName {
  color: var(--secondary);
  font-size: 40px;
  letter-spacing: 0.1px;
  font-weight: bold;
  flex: 1;
}

header a {
  border: 1px solid var(--secondary);
  border-radius: 5px;
  width: 120px;
  height: 40px;
  color: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

main {
  background-image: url(./assets/mobileBackground.png);
  background-repeat: no-repeat;
  background-position: 50% 8%;
  width: auto;
  height: 100%;
}

main section#desktopBackground {
  display: none;
}

main div.faqAnswers {
  display: none;
}

main div.faqAnswers.showFaq {
  background-color: var(--white);
  width: 95%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-bottom: 200px;
  margin-top: -150px;
  position: relative;
  gap: 30px;
  transition: 0.5s;
  padding: 30px;
}

main div.faqAnswers.showFaq p {
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  transition: 0.5s;
}
main div.faqAnswers.showFaq p.colored {
  color: var(--secondary);
  font-weight: 550;
  text-transform: uppercase;
}

main div.faqAnswers.showFaq::before {
  content: "";

  display: block;
  border: solid var(--secondary);
  border-width: 2px 0 0 2px;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0px;
  top: 0px;
}

main div.faqAnswers.showFaq::after {
  content: "";
  position: absolute;
  display: block;
  border: solid var(--secondary);
  border-width: 0 2px 2px 0;
  width: 50px;
  height: 50px;
  right: 0px;
  bottom: 0px;
}

/* First Section */
main section#firstSection {
  margin-top: 170px;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

main section#firstSection h1#introText {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  padding: var(--defaultPadding);
  line-height: 50px;
  width: 310px;
}

main section#firstSection a {
  width: 230px;
  height: 50px;
  background-color: var(--secondary);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-weight: 500;
  font-size: 18px;
}

main section#firstSection img {
  width: auto;
  height: 100px;
}

/* Second Section */
main section#secondSection {
  display: flex;
  margin-top: 50px;
  align-items: center;
  flex-direction: column;
  margin-bottom: 200px;
}
.swiper {
  width: 100%;
  height: 750px;
  margin-left: auto;
  margin-right: auto;
}
.swiper-wrapper {
  display: flex;
  margin-top: 50px;
  gap: 29%;
  padding-left: 50px;
}

.swiper-slide {
  width: 70% !important;
  height: auto;
  margin-bottom: 50px;
  align-self: center;
}
.swiper-slide:nth-child(1) {
  width: 73% !important;
  height: auto;
  margin-bottom: 50px;
  align-self: center;
}

.swiper-pagination-bullet {
  border-radius: 50px;
  width: 22px;
  height: 8px;
  background-color: var(--ash);
  margin-bottom: 80px;
}
.swiper-pagination-bullet-active {
  transition: 1s;
  background-color: var(--secondary);
  width: 26px;
}
main section#secondSection div#imagesContainer {
  display: none;
}

/* Third Section */
main section#thirdSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 200px;
  gap: 90px;
  padding: var(--defaultPadding);
}

main section#thirdSection div#faqsContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

main section#thirdSection img#faqImgTxt {
  width: auto;
  height: 30px;
}

main section#thirdSection div#faqsContainer div.faqsItem {
  display: flex;
  align-items: center;
  gap: 19px;
  background-color: var(--white);
  height: 100px;
  padding: 20px;
  width: auto;
  transition: background-color 0.5s;
  cursor: pointer;
  border-radius: 8px;
  justify-content: flex-start;
}
main section#thirdSection div#faqsContainer div.faqsItem p {
  font-weight: 550;
  font-size: 17px;
}

main section#thirdSection div#faqsContainer div.faqsItem.active {
  transition: 0.5s;
  background-color: var(--secondary);
  color: var(--white);
}
main section#thirdSection div#faqsContainer div.faqsItem svg {
  min-width: 20px;
  min-height: 10px;
}
main section#thirdSection div#faqsContainer div.faqsItem svg path {
  transition: 0.5s;
  transform-origin: center;
}
.rotatePath {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transition: 0.5s;
  transform-origin: center;
  transform: rotate(90deg);
  fill: white;
}

/* Fourth Section */
main section#fourthSection {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 200px;
}
main section#fourthSection div.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 60px;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: var(--defaultPadding);
}
main section#fourthSection div.contentContainer h2.contentHeading {
  font-size: 1.6em;
  font-weight: 550;
  width: 320px;
  line-height: 30px;
}
main section#fourthSection div.contentContainer h2.contentHeading:nth-child(1) {
  font-size: 1.6em;
  font-weight: 550;
  width: 324px;
  line-height: 40px;
}

main
  section#fourthSection
  div.contentContainer
  h2.contentHeading
  span.lighterSelectedText {
  color: var(--lighterSecondary);
}

main section#fourthSection div.contentContainer div.videoContent {
  background-color: var(--white);
  height: 580px;
  width: 330px;
  border-radius: 15px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 0 5px -2px var(--ash);
}

main section#fourthSection div.contentContainer div.videoContent video {
  width: auto;
  height: 570px;
  border-radius: 15px;
}

main section#fourthSection div.contentContainer p.contentFirstParagraph,
p.contentSecondParagraph {
  font-size: 17px;
  font-weight: 500;
  line-height: 27px;
}

main section#fourthSection div.contentContainer div#contentImageGroup {
  display: flex;
  align-items: center;
  gap: 10px;
}

main section#fourthSection div.contentContainer > img {
  width: auto;
  height: 60px;
}

main
  section#fourthSection
  div.contentContainer
  div#contentImageGroup
  img:nth-child(2) {
  width: auto;
  height: 40px;
}

/* fifth Section */
main section#fifthSection {
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
  padding: var(--defaultPadding);
  margin-bottom: 200px;
}

main section#fifthSection h3 {
  font-weight: 550;
  font-size: 1.6em;
  line-height: 50px;
}

main section#fifthSection a#ctaBtn {
  color: var(--white);
  background-color: var(--secondary);
  box-shadow: 0 0 7px 5px var(--pink);
  width: auto;
  height: 50px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Sixth section */
main section#sixthSection {
  background-color: var(--white);
  padding: var(--defaultPadding);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 80px;
  padding-top: 100px;
}

main section#sixthSection div#formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 90px;
}

main section#sixthSection div#formContainer div#writeUp {
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
  align-items: center;
}

main section#sixthSection div#formContainer div#writeUp h2 {
  font-weight: 550;
  font-size: 30px;
}
main section#sixthSection div#formContainer div#writeUp p {
  font-size: 18px;
  line-height: 30px;
}
main section#sixthSection div#formContainer form {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
}

main section#sixthSection div#formContainer form input {
  border: none;
  outline: none;
  border-bottom: 1px solid var(--ash);
  background: none;
  width: 100%;
  height: 50px;
  font-size: 20px;
  padding-bottom: 20px;
}

main section#sixthSection div#formContainer form select {
  border: none;
  outline: none;
  border-bottom: 1px solid var(--ash);
  background: none;
  width: 100%;
  height: 50px;
  font-size: 20px;
  padding-bottom: 20px;
}
main section#sixthSection div#formContainer form button {
  border: none;
  outline: none;
  border: 1px solid var(--ash);
  color: var(--ash);
  border-radius: 8px;
  background: none;
  width: 155px;
  align-self: center;
  height: 45px;
  font-size: 21px;
  text-transform: uppercase;
  margin-top: 50px;
}

main section#sixthSection div#formContainer form select option.holder {
  color: var(--ash);
}

main section#sixthSection div#formContainer form button.formComplete {
  border: 1px solid var(--secondary);
  color: var(--secondary);
}

main section#sixthSection div#formContainer form input:focus,
main section#sixthSection div#formContainer form select:focus {
  border-bottom: 1px solid var(--secondary);
  transition: 0.8s;
}
main section#sixthSection div#formContainer form input:active,
main section#sixthSection div#formContainer form select:active {
  border-bottom: 1px solid var(--secondary);
  transition: 0.8s;
}

footer {
  height: auto;
  width: auto;
  background-color: var(--secondary);
  padding: var(--defaultPadding);
  color: var(--white);
  padding-top: 40px;
}

footer div#f-footer-group {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 50px;
}
footer div#f-footer-group h2 {
  font-size: 30px;
  font-weight: bold;
}
footer div#f-footer-group p {
  font-size: 14px;
  font-weight: 300;
}
footer div#f-footer-group a {
  width: 30%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--white);
  color: var(--white);
  font-size: 15px;
  border-radius: 8px;
}
footer div#s-footer-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
footer div#s-footer-group div#s-footer-group-f {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer div#s-footer-group div#s-footer-group-f h2 {
  font-size: 30px;
  font-weight: bold;
}
footer div#s-footer-group div#s-footer-group-f p {
  font-size: 15px;
  font-weight: 400;
}
footer div#s-footer-group div#s-footer-group-f div#socials {
  display: flex;
  gap: 10px;
}
footer div#s-footer-group div#s-footer-group-f div#socials a img {
  width: 20px;
  height: auto;
}
footer div#s-footer-group div#s-footer-group-s {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
footer div#s-footer-group div#s-footer-group-s a {
  color: var(--white);
  text-align: right;
  font-weight: 500;
  font-size: 15px;
}
footer div#t-footer-group {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
footer div#t-footer-group img {
  width: 60px;
  height: auto;
}
footer div#t-footer-group div h3 {
  font-size: 20px;
  font-weight: 400;
}
footer div#t-footer-group div p {
  font-size: 15px;
  font-weight: 300;
}
footer div#t-footer-group form {
  display: flex;
}
footer div#t-footer-group form input {
  border: none;
  width: 60%;
  padding: 10px;
  height: 50px;
  border-radius: 8px 0px 0px 8px;
  outline: none;
  background: var(--white);
  font-size: 15px;
}
footer div#t-footer-group form input::placeholder {
  color: var(--ash);
}
footer div#t-footer-group form button {
  border: none;
  width: 40%;
  padding: 10px;
  border-radius: 0px 8px 8px 0px;
  outline: none;
  background: var(--pink);
  text-transform: uppercase;
  color: var(--white);
  font-size: 15px;
}

/* subscribe page styles */
div#sub-container {
  display: flex;
  flex-direction: column;
}

div#sub-container aside {
  display: none;
}

div#sub-container div#successContainer div#headContainer {
  display: flex;
  gap: 20px;
  align-items: center;
  padding-top: 20px;
}

div#sub-container div#successContainer div#headContainer a {
  text-decoration: none;
}

div#sub-container div#successContainer div#headContainer a img {
  height: auto;
  width: 7px;
  padding-top: 7px;
}

div#sub-container div#successContainer div#headContainer h3 {
  font-weight: 550;
  font-size: 18px;
}

div#sub-container div#successContainer {
  display: flex;
  flex-direction: column;
  padding: var(--defaultPadding);
  gap: 40px;
}

div#sub-container div#successContainer img {
  width: auto;
  height: 200px;
  align-self: center;
}

div#sub-container div#successContainer div#welcomeText {
  text-align: center;
  align-self: center;
}

div#sub-container div#successContainer div#welcomeText p {
  font-weight: 500;
  font-size: 23px;
  padding: 20px;
}

div#sub-container div#successContainer div#contact-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

div#sub-container
  div#successContainer
  div#contact-container
  div.contact-details-container {
  display: flex;
  justify-content: space-between;
}

div#sub-container
  div#successContainer
  div#contact-container
  div.contact-details-container
  img {
  width: 32px;
  height: 28px;
}
div#sub-container
  div#successContainer
  div#contact-container
  div.contact-details-container
  a {
  width: auto;
  height: 40px;
  border: 1px solid var(--black);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px;
}

@media screen and (min-width: 419px) {
  main {
    background-image: none;
    height: auto;
    width: auto;
    position: relative;
  }
  main section#desktopBackground {
    display: block;
    position: absolute;
    width: auto;
    z-index: -1;
    left: 0;
    right: 0;
  }
  main section#desktopBackground img {
    width: 100%;
    height: 50%;
  }
}
@media screen and (min-width: 1021px) {
  span.secondarySelectedText::before {
    content: "";
    display: block;
    width: 97%;
    height: 30px;
    position: absolute;
    left: -50%;
    right: -50%;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    z-index: -1;
    background-color: var(--lightPink);
  }
  /* First Section */
  main section#firstSection {
    margin-top: 140px;
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
  }

  main section#firstSection h1#introText {
    text-align: center;
    font-size: 70px;
    font-weight: 500;
    padding: 20px;
    width: 100%;
    line-height: 100px;
  }

  main section#firstSection a {
    width: 330px;
    height: 70px;
    background-color: var(--secondary);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-weight: 550;
    font-size: 20px;
  }

  main section#firstSection img {
    width: auto;
    height: 170px;
  }
  main {
    background-image: none;
    height: auto;
    width: auto;
    position: relative;
  }
  main section#desktopBackground {
    display: block;
    position: absolute;
    width: auto;
    z-index: -1;
    left: 0;
    right: 0;
  }
  main section#desktopBackground img {
    width: 100%;
    height: 100%;
  }
  /* Second Section */
  main section#secondSection {
    display: flex;
    margin-top: 50px;
    align-items: center;
    flex-direction: column;
    margin-bottom: 200px;
  }
  .swiper {
    display: none;
  }
  main section#secondSection div#imagesContainer {
    display: flex;
    align-items: center;
    position: relative;
    padding: var(--defaultPadding);
    margin: 50px auto;
    justify-content: space-around;
  }
  main section#secondSection div#imagesContainer img.deskImage {
    width: auto;
    height: 550px;
  }
  main section#secondSection div#imagesContainer img.deskImage.largeImage {
    width: auto;
    height: 700px;
  }

  main section#secondSection div#dotsContainer {
    display: none;
  }
  /* Third Section */
  main section#thirdSection {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 50px;
    margin-bottom: 250px;
    gap: 70px;
  }
  main section#thirdSection img#faqImgTxt {
    width: auto;
    height: 50px;
  }

  main section#thirdSection div#faqsContainer {
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 50%;
  }
  main section#thirdSection div#faqsContainer div.faqsItem {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--white);
    height: 70px;
    padding: 20px;
    width: auto;
    align-self: flex-end;
  }

  main section#thirdSection div#faqsContainer div.faqsItem p {
    font-weight: 550;
    font-size: 15px;
  }
  /* Fourth Section */
  main section#fourthSection {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-bottom: 200px;
  }
  main section#fourthSection div.contentContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
    align-items: flex-start;
    justify-content: center;
    padding: var(--defaultPadding);
    position: relative;
    margin-bottom: 300px;
  }
  main section#fourthSection div.contentContainer:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: right;
    align-items: flex-end;
    justify-content: center;
    padding: var(--defaultPadding);
    position: relative;
    margin-bottom: 100px;
  }
  main section#fourthSection div.contentContainer h2.contentHeading {
    font-size: 2.4em;
    font-weight: 550;
    width: 50%;
  }
  main section#fourthSection div.contentContainer p {
    width: 30%;
  }

  main
    section#fourthSection
    div.contentContainer
    h2.contentHeading
    span.lighterSelectedText {
    color: var(--lighterSecondary);
  }

  main section#fourthSection div.contentContainer div.videoContent {
    background-color: var(--white);
    height: 640px;
    width: 370px;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 60px;
  }
  main
    section#fourthSection
    div.contentContainer:nth-child(2)
    div.videoContent {
    background-color: var(--white);
    height: 650px;
    width: 370px;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 60px;
  }

  main section#fourthSection div.contentContainer div.videoContent video {
    width: auto;
    height: 620px;
    border-radius: 15px;
  }

  main section#fourthSection div.contentContainer p.contentFirstParagraph,
  p.contentSecondParagraph {
    font-size: 21px;
    font-weight: 550;
    width: 50%;
  }

  main section#fourthSection div.contentContainer div#contentImageGroup {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  main section#fourthSection div.contentContainer > img {
    width: auto;
    height: 60px;
  }

  main
    section#fourthSection
    div.contentContainer
    div#contentImageGroup
    img:nth-child(2) {
    width: auto;
    height: 40px;
  }
  /* fifth Section */
  main section#fifthSection {
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
    padding: var(--defaultPadding);
    align-items: center;
    justify-content: center;
    margin-bottom: 200px;
  }

  main section#fifthSection h3 {
    font-weight: 550;
    font-size: 1.6em;
    width: 50%;
  }

  main section#fifthSection a#ctaBtn {
    width: 270px;
    height: 50px;
  }

  /* Sixth section */
  main section#sixthSection {
    background-color: var(--white);
    padding: var(--defaultPadding);
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  main section#sixthSection div#formContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
    margin: 0 auto;
    padding: 20px;
  }

  main section#sixthSection div#formContainer div#writeUp {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: left;
    align-items: flex-start;
  }

  main section#sixthSection div#formContainer div#writeUp h2 {
    font-size: 35px;
    font-weight: bold;
  }

  main section#sixthSection div#formContainer div#writeUp p {
    font-size: 18px;
    padding-right: 10px;
    font-weight: 500;
  }

  main section#sixthSection div#formContainer form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
  }

  main section#sixthSection div#formContainer form input {
    border: none;
    outline: none;
    border-bottom: 1px solid var(--ash);
    background: none;
    width: 100%;
    height: 50px;
    font-size: 20px;
    padding-bottom: 20px;
  }

  main section#sixthSection div#formContainer form select {
    border: none;
    outline: none;
    border-bottom: 1px solid var(--ash);
    background: none;
    width: 100%;
    height: 50px;
    font-size: 20px;
    padding-bottom: 20px;
  }
  main section#sixthSection div#formContainer form button {
    align-self: flex-end;
    font-size: 21px;
  }

  /* footer */
  footer {
    height: auto;
    width: auto;
    background-color: var(--secondary);
    padding: var(--defaultPadding);
    color: var(--white);
    padding-top: 40px;
    position: relative;
  }

  footer div#f-footer-group {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 90px;
  }
  footer div#f-footer-group h2 {
    font-size: 60px;
    font-weight: bold;
  }
  footer div#f-footer-group p {
    font-size: 26px;
    font-weight: 400;
    width: 50%;
  }
  footer div#f-footer-group a {
    width: 14%;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--white);
    color: var(--white);
    font-size: 18px;
    border-radius: 8px;
    font-weight: 400;
  }
  footer div#s-footer-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  footer div#s-footer-group div#s-footer-group-f {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  footer div#s-footer-group div#s-footer-group-f h2 {
    font-size: 38px;
    font-weight: 550;
  }
  footer div#s-footer-group div#s-footer-group-f p {
    font-size: 18px;
    font-weight: 400;
  }
  footer div#s-footer-group div#s-footer-group-f div#socials {
    display: flex;
    gap: 20px;
  }
  footer div#s-footer-group div#s-footer-group-f div#socials a img {
    width: 32px;
    height: auto;
  }
  footer div#s-footer-group div#s-footer-group-s {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    top: 50px;
    right: 30px;
  }
  footer div#s-footer-group div#s-footer-group-s a {
    color: var(--white);
    text-align: right;
    font-weight: 500;
    font-size: 18px;
  }
  footer div#t-footer-group {
    display: flex;
    flex-direction: column;
    gap: 35px;
    position: absolute;
    top: 250px;
    right: 30px;
  }
  footer div#t-footer-group img {
    width: 74px;
    height: auto;
  }
  footer div#t-footer-group div h3 {
    font-size: 28px;
    font-weight: 400;
    line-height: 60px;
  }
  footer div#t-footer-group div p {
    font-size: 18px;
    font-weight: 300;
  }
  footer div#t-footer-group form {
    display: flex;
  }
  footer div#t-footer-group form input {
    border: none;
    width: 60%;
    padding: 10px;
    height: 56px;
    border-radius: 6px 0px 0px 6px;
    outline: none;
    background: var(--white);
    font-size: 18px;
  }
  footer div#t-footer-group form input::placeholder {
    color: var(--ash);
  }
  footer div#t-footer-group form button {
    border: none;
    width: 40%;
    padding: 10px;
    border-radius: 0px 6px 6px 0px;
    outline: none;
    background: var(--pink);
    text-transform: uppercase;
    color: var(--white);
    font-size: 18px;
  }
  /* subscribe page styles */
  div#sub-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  div#sub-container aside {
    display: flex;
    background-color: var(--inputBackground);
    padding: 50px;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    width: 520px;
    height: 120vh;
  }

  div#sub-container aside img#asideIcon {
    width: 50px;
    height: auto;
  }

  div#sub-container aside img#asideImg {
    width: 550px;
    height: auto;
    position: absolute;
    top: 40px;
    left: 40px;
  }

  div#sub-container aside div#asideQoute {
    text-align: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 1;
    margin: 0 auto;
    margin-top: 400px;
  }

  div#sub-container aside div#asideQoute p {
    font-style: italic;
    font-size: 18px;
    font-weight: 500;
  }

  div#sub-container div#successContainer div#headContainer {
    display: flex;
    gap: 60px;
    align-items: center;
    padding-top: 30px;
  }

  div#sub-container div#successContainer div#headContainer button img {
    height: auto;
    width: 10px;
    padding-top: 7px;
  }

  div#sub-container div#successContainer div#headContainer h3 {
    font-weight: 550;
    font-size: 28px;
  }

  div#sub-container div#successContainer {
    display: flex;
    flex-direction: column;
    padding: var(--defaultPadding);
    gap: 60px;
  }

  div#sub-container div#successContainer img {
    width: auto;
    height: 200px;
  }

  div#sub-container div#successContainer div#welcomeText {
    text-align: center;
  }

  div#sub-container div#successContainer div#welcomeText h2 {
    font-weight: 550;
    font-size: 25px;
    line-height: 40px;
  }

  div#sub-container div#successContainer div#welcomeText p {
    font-weight: 500;
    font-size: 20px;
  }

  div#sub-container div#successContainer a {
    text-decoration: none;
  }
}

@media screen and (min-width: 920px) and (max-width: 1020px) {
  /* First Section */
  main section#firstSection {
    margin-top: 140px;
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
  }

  main section#firstSection h1#introText {
    text-align: center;
    font-size: 60px;
    font-weight: 500;
    padding: 20px;
  }

  main section#firstSection a {
    width: 330px;
    height: 70px;
    background-color: var(--secondary);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-weight: 550;
    font-size: 20px;
  }

  main section#firstSection img {
    width: auto;
    height: 170px;
  }
  main {
    background-image: none;
    height: auto;
    width: auto;
  }
  /* Second Section */
  main section#secondSection {
    display: flex;
    margin-top: 50px;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 200px;
  }
  main section#secondSection div#slider {
    display: none;
  }
  main section#secondSection div#imagesContainer {
    display: flex;
    align-items: center;
    position: relative;
    padding: var(--defaultPadding);
    margin: 50px auto;
    justify-content: space-around;
  }
  main section#secondSection div#imagesContainer img.deskImage {
    width: auto;
    height: 550px;
  }
  main section#secondSection div#imagesContainer img.deskImage.largeImage {
    width: auto;
    height: 700px;
  }

  main section#secondSection div#dotsContainer {
    display: none;
  }
  /* Third Section */
  main section#thirdSection {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 50px;
    margin-bottom: 250px;
    gap: 70px;
  }
  main section#thirdSection img#faqImgTxt {
    width: auto;
    height: 50px;
  }

  main section#thirdSection div#faqsContainer {
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 50%;
  }
  main section#thirdSection div#faqsContainer div.faqsItem {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--white);
    height: 70px;
    padding: 20px;
    width: auto;
    align-self: flex-end;
  }

  main section#thirdSection div#faqsContainer div.faqsItem p {
    font-weight: 550;
    font-size: 15px;
  }

  /* Fourth Section */
  main section#fourthSection {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-bottom: 200px;
  }
  main section#fourthSection div.contentContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
    align-items: flex-start;
    justify-content: center;
    padding: var(--defaultPadding);
    position: relative;
    margin-bottom: 200px;
  }
  main section#fourthSection div.contentContainer:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: right;
    align-items: flex-end;
    justify-content: center;
    padding: var(--defaultPadding);
    position: relative;
    margin-bottom: 100px;
  }
  main section#fourthSection div.contentContainer h2.contentHeading {
    font-size: 2.4em;
    font-weight: 550;
    width: 50%;
  }

  main
    section#fourthSection
    div.contentContainer
    h2.contentHeading
    span.lighterSelectedText {
    color: var(--lighterSecondary);
  }

  main section#fourthSection div.contentContainer div.videoContent {
    background-color: var(--white);
    height: 650px;
    width: 370px;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 60px;
  }
  main
    section#fourthSection
    div.contentContainer:nth-child(2)
    div.videoContent {
    background-color: var(--white);
    height: 650px;
    width: 250px;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 60px;
  }

  main section#fourthSection div.contentContainer div.videoContent video {
    width: auto;
    height: 620px;
    border-radius: 15px;
  }

  main section#fourthSection div.contentContainer p.contentFirstParagraph,
  p.contentSecondParagraph {
    font-size: 21px;
    font-weight: 550;
    width: 50%;
  }

  main section#fourthSection div.contentContainer div#contentImageGroup {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  main section#fourthSection div.contentContainer > img {
    width: auto;
    height: 60px;
  }

  main
    section#fourthSection
    div.contentContainer
    div#contentImageGroup
    img:nth-child(2) {
    width: auto;
    height: 40px;
  }
  /* fifth Section */
  main section#fifthSection {
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
    padding: var(--defaultPadding);
    align-items: center;
    justify-content: center;
    margin-bottom: 200px;
  }

  main section#fifthSection h3 {
    font-weight: 550;
    font-size: 1.6em;
    width: 50%;
  }

  main section#fifthSection a#ctaBtn {
    width: 270px;
    height: 50px;
  }

  /* footer */
  footer {
    height: auto;
    width: auto;
    background-color: var(--secondary);
    padding: var(--defaultPadding);
    color: var(--white);
    padding-top: 40px;
    position: relative;
  }

  footer div#f-footer-group {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 90px;
  }
  footer div#f-footer-group h2 {
    font-size: 60px;
    font-weight: bold;
  }
  footer div#f-footer-group p {
    font-size: 26px;
    font-weight: 400;
    width: 50%;
  }
  footer div#f-footer-group a {
    width: 14%;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--white);
    color: var(--white);
    font-size: 18px;
    border-radius: 8px;
    font-weight: 400;
  }
  footer div#s-footer-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  footer div#s-footer-group div#s-footer-group-f {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  footer div#s-footer-group div#s-footer-group-f h2 {
    font-size: 38px;
    font-weight: 550;
  }
  footer div#s-footer-group div#s-footer-group-f p {
    font-size: 18px;
    font-weight: 400;
  }
  footer div#s-footer-group div#s-footer-group-f div#socials {
    display: flex;
    gap: 20px;
  }
  footer div#s-footer-group div#s-footer-group-f div#socials a img {
    width: 32px;
    height: auto;
  }
  footer div#s-footer-group div#s-footer-group-s {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    top: 50px;
    right: 30px;
  }
  footer div#s-footer-group div#s-footer-group-s a {
    color: var(--white);
    text-align: right;
    font-weight: 500;
    font-size: 18px;
  }
  footer div#t-footer-group {
    display: flex;
    flex-direction: column;
    gap: 35px;
    position: absolute;
    top: 250px;
    right: 30px;
  }
  footer div#t-footer-group img {
    width: 74px;
    height: auto;
  }
  footer div#t-footer-group div h3 {
    font-size: 28px;
    font-weight: 400;
    line-height: 60px;
  }
  footer div#t-footer-group div p {
    font-size: 18px;
    font-weight: 300;
  }
  footer div#t-footer-group form {
    display: flex;
  }
  footer div#t-footer-group form input {
    border: none;
    width: 60%;
    padding: 10px;
    height: 56px;
    border-radius: 6px 0px 0px 6px;
    outline: none;
    background: var(--white);
    font-size: 18px;
  }
  footer div#t-footer-group form input::placeholder {
    color: var(--ash);
  }
  footer div#t-footer-group form button {
    border: none;
    width: 40%;
    padding: 10px;
    border-radius: 0px 6px 6px 0px;
    outline: none;
    background: var(--pink);
    text-transform: uppercase;
    color: var(--white);
    font-size: 18px;
  }
  /* subscribe page styles */
  div#sub-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  div#sub-container aside {
    display: none;
    background-color: var(--inputBackground);
    padding: 50px;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    width: 520px;
    height: 120vh;
  }

  div#sub-container aside img#asideIcon {
    width: 50px;
    height: auto;
  }

  div#sub-container aside img#asideImg {
    width: 450px;
    height: auto;
    position: absolute;
    top: 40px;
    left: 40px;
  }

  div#sub-container aside div#asideQoute {
    text-align: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 1;
    margin: 0 auto;
    margin-top: 400px;
  }

  div#sub-container aside div#asideQoute p {
    font-style: italic;
    font-size: 18px;
    font-weight: 500;
  }

  div#sub-container section#contentContainer {
    padding: var(--defaultPadding);
    display: flex;
    gap: 40px;
    flex-direction: column;
    width: 100%;
    display: none;
  }

  div#sub-container section#contentContainer div#headContainer {
    display: flex;
    gap: 60px;
    align-items: center;
    padding-top: 30px;
  }

  div#sub-container section#contentContainer div#headContainer button {
    outline: none;
    background: none;
    border: none;
  }

  div#sub-container div#successContainer div#headContainer a img {
    height: auto;
    width: 10px;
    padding-top: 7px;
  }

  div#sub-container div#successContainer div#headContainer h3 {
    font-weight: 550;
    font-size: 28px;
  }

  div#sub-container div#successContainer {
    display: flex;
    flex-direction: column;
    padding: var(--defaultPadding);
    gap: 60px;
  }

  div#sub-container div#successContainer img {
    width: auto;
    height: 200px;
  }

  div#sub-container div#successContainer div#welcomeText {
    text-align: center;
  }

  div#sub-container div#successContainer div#welcomeText p {
    font-weight: 500;
    font-size: 20px;
  }

  div#sub-container div#successContainer a {
    text-decoration: none;
  }
}

@media screen and (min-width: 1440px) {
  main section#firstSection,
  section#secondSection,
  section#thirdSection,
  section#fourthSection {
    width: 1440px;
    margin: 0 auto;
  }
  main section#firstSection {
    margin-top: 200px;
  }
  main div.faqAnswers.showFaq {
    width: 50%;
  }
  header {
    align-items: center;
  }
  header div {
    width: 1440px;
    margin: 0 auto;
  }
  footer {
    width: 100%;
  }
  footer section {
    width: 1440px;
    margin: 0 auto;
    position: relative;
  }
}
