@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}


body {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box; 
}


:root {
    --secondary: #692A90;
    --white: #ffffff;
    --black: #000000;
    --lighterSecondary: #8C44AE;
    --defaultPadding: 20px;
    --ash: #c4c4c4;
}

/* Global styles */
a, a:active, a:hover, a:visited,a:focus{
    text-decoration: none;
}
span.lighterSelectedText {
    color: var(--lighterSecondary);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--defaultPadding);
    box-shadow: 10px 0 5px -2px var(--ash);
}

header h1#brandName {
    color: var(--secondary);
    font-size: 30px;
    letter-spacing: .1px;
    font-weight: bold;
}


header a {
    border: 1px solid var(--secondary);
    border-radius: 5px;
    width: 70px;
    height: 30px;
    color: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    padding: var(--defaultPadding);
    background-image: url(./assets/mobileBackground.png);
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    height: auto;
}

/* First Section */
main section#firstSection {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


main section#firstSection p#introText{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 120px;
}

/* Second Section */
main section#secondSection {
    display: flex;
    margin-top: 50px;
    align-items: center;
    flex-direction: column;
}
main section#secondSection div#slider {
    display: flex;
    margin-top: 50px;
    align-items: center;
    position: relative;
    padding: var(--defaultPadding);
    margin: 20px auto;
    justify-content: center;
    margin-bottom: 350px;
}
main section#secondSection div#slider img.sliderImage {
    width: 200px;
    height: 300px;
    position: absolute;
    top: 30px;
}
main section#secondSection div#slider img.sliderImage.activeImage {
    width: 220px;
    height: 350px;
    z-index: 1;
    top: -1px;
}

main section#secondSection div#dotsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
main section#secondSection div#dotsContainer div.dots {
    border-radius: 50px;
    width: 12px;
    height: 12px;
    background-color: var(--white);
    box-shadow: 10px 0 5px -2px var(--ash);
}
main section#secondSection div#dotsContainer div.dots.activeDot {
    background-color: var(--secondary);
}

@keyframes rotateImage {
    0% {
        width: 150px;
        height: 300px;
        transform: translateX(50px);
    }
    50%{
        width: 155px;
        height: 325px;
        transform: translateX(25px);
    }
    100%{
        width: 160px;
        height: 350px;
        width: 160px;
        height: 350px;
        z-index: 1;
        top: -1px;
        transform: translateX(0px);
    }
}

/* Third Section */
main section#thirdSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 20px;
}

main section#thirdSection div#faqsContainer{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
main section#thirdSection div#faqsContainer div.faqsItem{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--white);
    border-right: 1px solid var(--secondary);
    height: 63px;
    padding: 20px;
    width: auto;
}
main section#thirdSection div#faqsContainer div.faqsItem p{
    font-weight: bold;
    font-size: 15px;
}

main section#thirdSection div#faqsContainer div.faqsItem.active {
    background-color: var(--secondary);
    color: var(--white);
}


/* Fourth Section */
main section#fourthSection {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 50px;
}
main section#fourthSection div.contentContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: var(--defaultPadding)
}
main section#fourthSection div.contentContainer h2.contentHeading {
    font-size: 1.6em;
    font-weight: bold;
}

main section#fourthSection div.contentContainer h2.contentHeading span.lighterSelectedText {
    color: var(--lighterSecondary);
}

main section#fourthSection div.contentContainer div.videoContent {
    background-color: var(--white);
    height: 400px;
    width: 100%;
    border-radius: 15px;

}

main section#fourthSection div.contentContainer p.contentFirstParagraph, p.contentSecondParagraph {
    font-size: 15px;
    font-weight: bold;
}

main section#fourthSection div.contentContainer div#contentImageGroup {
    display: flex;
    align-items: center;
    gap: 10px;
}

main section#fourthSection div.contentContainer > img {
    width: auto;
    height: 60px;
}

main section#fourthSection div.contentContainer div#contentImageGroup img:nth-child(2) {
    width: auto;
    height: 40px;
}

/* fifth Section */ 
main section#fifthSection {
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
    padding: var(--defaultPadding);
    margin-bottom: 50px;
}

main section#fifthSection h3 {
    font-weight: bold;
    font-size: 1.2em;
}

main section#fifthSection a#ctaBtn {
    color: var(--white);
    background-color: var(--secondary);
    box-shadow: 0 0 7px 5px var(--lighterSecondary);
    width: auto;
    height: 50px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    height: auto;
    width: auto;
    background-color: var(--secondary);
    padding: var(--defaultPadding);
    color: var(--white);
    padding-top: 40px;
}

footer div#f-footer-group {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 50px;
}
footer div#f-footer-group h2 {
    font-size: 30px;
    font-weight: bold;
}
footer div#f-footer-group p {
    font-size: 14px;
    font-weight: 300;
}
footer div#f-footer-group button{
    width: 30%;
    height: 40px;
    background: none;
    outline: none;
    border: none;
    border: 1px solid var(--white);
    color: var(--white);
    font-size: 15px;
    border-radius: 8px;
}
footer div#s-footer-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
footer div#s-footer-group div#s-footer-group-f{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
footer div#s-footer-group div#s-footer-group-f h2{
    font-size: 30px;
    font-weight: bold;
}
footer div#s-footer-group div#s-footer-group-f p{
    font-size: 15px;
    font-weight: 300;
}
footer div#s-footer-group div#s-footer-group-f div#socials{
    display: flex;
    gap: 10px;
}
footer div#s-footer-group div#s-footer-group-f div#socials a img{
    width: 20px;
    height: auto;
}
footer div#s-footer-group div#s-footer-group-s {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
footer div#s-footer-group div#s-footer-group-s a{
    color: var(--white);
    text-align: right;
    font-weight: bold;
    font-size: 15px;
}






@media screen and (min-width: 419px) {
    main {
        padding: var(--defaultPadding);
        background-image: url(./assets/desktopBackground.png);
        background-repeat: no-repeat;
        background-position: center;
        height: auto;
        width: auto;
    }
}