@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
}

body {
  padding: 0 auto;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
  background-color: var(--white);
}

:root {
  --secondary: #692a90;
  --white: #ffffff;
  --black: #000000;
  --lighterSecondary: #8c44ae;
  --defaultPadding: 20px;
  --ash: #c4c4c4;
  --pink: #be8dd6;
  --inputBackground: #f8f9ff;
  --lightPink: #f3d8ff;
  --red: red;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--defaultPadding);
  width: 100%;
  background-color: var(--white);
  z-index: 100;
}

header nav {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
}

header nav div.navItems {
  display: flex;
  flex-direction: row;
  gap: 50px;
  width: 61%;
}

header nav div.navItems a {
  font-size: 18px;
  padding: 0px;
}

header #brandName {
  color: var(--secondary);
  font-size: 40px;
  flex: 1;
  letter-spacing: 0.1px;
  font-weight: bold;
  width: 70%;
}

header a {
  border: none;
  border-radius: 5px;
  margin: 0;
  text-align: left;
  height: 40px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}

header a:hover,
a:focus,
a:active {
  color: var(--lighterSecondary);
  font-weight: bold;
  transition: all 0.5s ease;
}

#nav-bar {
  display: flex;
  flex-direction: column;
}
#nav-bar :first-child {
  width: 50px;
  height: 3px;
  background-color: var(--secondary);
  margin-bottom: 10px;
}
#nav-bar :nth-child(2) {
  width: 30px;
  height: 3px;
  background-color: var(--secondary);
  margin-left: auto;
}
#nav-bar {
  display: none;
}
#nav-barx {
  display: none;
}

#nav-barx {
  width: 40px;
  height: 40px;
  display: grid;
  position: relative;
  place-items: center;
}
#nav-barx div {
  width: 90%;
  height: 8%;
  position: absolute;
  bottom: 50%;
  background-color: var(--secondary);
}

#nav-barx div:nth-of-type(1) {
  transform: rotateZ(45deg);
}
#nav-barx div:nth-of-type(2) {
  transform: rotateZ(-45deg);
}

#menu {
  position: fixed;
  width: 80%;
  transition: 0.5s;
  padding: 0%;
  top: 0;
  background-color: var(--white);
  margin: 0%;
  left: 100%;
  z-index: 200;
  height: 90px;
}
#menu > div {
  width: 90%;
  font-weight: 400;
  height: 90%;
  display: flex;
  margin: 0 auto;
  padding: 0%;
  align-items: center;
  gap: 15%;
  font-size: 15px;
  color: #000000;
  justify-content: center;
}
#menu {
  display: none;
}
#menu a {
  color: var(--black);
}
#menu a:hover,
a:focus,
a:active {
  color: var(--lighterSecondary);
  font-weight: bold;
  transition: all 0.5s ease;
}

/* Global styles */
#loader {
  border: 4px solid var(--lighterSecondary);

  border-radius: 50%;

  border-top: 4px solid var(--secondary);

  width: 40px;

  height: 40px;
  visibility: hidden;

  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.center {
  position: absolute;

  top: 0;

  bottom: 0;

  left: 0;

  right: 0;

  margin: auto;
}
a,
a:active,
a:hover,
a:visited,
a:focus {
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  color: var(--lighterSecondary);
}
.lighterSelectedText {
  color: var(--secondary);
}
span.secondarySelectedText {
  color: var(--secondary);
  position: relative;
  font-weight: 400;
}

span.secondarySelectedText::before {
  content: "";
  display: block;
  width: 97%;
  height: 10px;
  position: absolute;
  left: -50%;
  right: -50%;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  z-index: -1;
  background-color: var(--lightPink);
}

main {
  width: auto;
  margin-top: 0px;
}

/* first section */
main section#firstSection {
  max-width: 1440px;
  margin: 0 auto;
}
main section#firstSection #deskShowCaseImages {
  display: flex;
  gap: 20px;
}

main section#firstSection #deskShowCaseImages .showcaseimg {
  width: 60px;
  height: 60px;
  transition: all 0.5s ease;
}

main section#firstSection #deskShowCaseImages .showCase1,
.showCase2,
.showCase3,
.showCase4,
.showCase5,
.showCase6,
.showCase7,
.showCase8,
.showCase9 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

main section#firstSection #deskShowCaseImages .showCase2,
.showCase8 {
  padding-top: 50px;
}

main section#firstSection #deskShowCaseImages .showCase3,
.showCase7 {
  align-self: center;
}

main section#firstSection #deskShowCaseImages .showCase5 {
  align-self: center;
}

/* second section */
main section#secondSection {
  display: block;
  background: var(--inputBackground);
  padding: 30px 0;
  padding-bottom: 70px;
}

main section#secondSection .img-con {
  display: flex;
  width: 70%;
  height: fit-content;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  background: #f8f9ff;
  padding: 0 auto;
  gap: 60px;
  max-width: 1440px;
}
main section#secondSection .secondSectionFirstDivContainer {
  position: relative;
  width: auto;
}

main #secondSection .secondSectionFirstDiv {
  width: 404px;
  height: 735px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 16px;
  position: relative;
  padding: 35px 45px 0px 45px;
}


main #secondSection .secondSectionFirstDiv p {
  width: 80%;
  height: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  color: #000000;
}

main #secondSection .secondSectionFirstDiv img {
  height: 598px;
  width: 290px;
}
main #secondSection .img-con .secondSectionFirstDiv .plus {
  width: 50px;
  height: auto;
  padding-bottom: 8px;
  position: absolute;
  bottom: 0;
}
main #secondSection .img-con .secondSectionSecondDiv > img {
  width: 70px;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 8px;
}
main #secondSection .secondSectionSecondDiv {
  height: 735px;
  width: 404px;
  padding: 35px 25px 0px 45px;
  display: flex;
  flex-direction: column;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  display: none;
  position: absolute;
  top: 0%;
  left: 1%;
  background: #2f184b;
  border-radius: 16px;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

main #secondSection .secondSectionSecondDiv p {
  width: 90%;
  height: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 50px;
  color: #ffffff;
  justify-self: center;
}

main #secondSection .secondSectionThirdDiv {
  height: 850px;
  width: 404px;
  display: flex;
  flex-direction: column;
  background: url("./img/secondSectionGradient.png") center no-repeat;
  border-radius: 16px;
  padding: 35px 25px 0px 45px;
  gap: 30px;
}
main #secondSection .secondSectionThirdDiv p {
  width: 262px;
  margin: 10px 0px 10px 0px;
  height: 150px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  color: #ffffff;
}
main #secondSection .secondSectionThirdDiv img {
  margin: 0;
  width: 95%;
  height: 615px;
  align-self: center;
}
main #secondSection .img-con .secondSectionFourthDiv {
  height: 380px;
  margin-top: 30px;
  background: #000000;
  border-radius: 16px;
  display: flex;
  padding: 25px 25px 0px 45px;
  position: relative;
  width: 404px;
  gap: 20px;
  flex-direction: column;
}

main #secondSection .img-con .secondSectionFourthDiv img {
  width: 40px;
  height: 40px;
  margin-left: auto;
}

main #secondSection .img-con .secondSectionFourthDiv p {
  width: 80%;
  height: auto;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  color: #ffffff;
}

/* Third Section */
main section#thirdSection {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1440px;
  
}

#thirdSection .contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  padding-left: 50px;
  border-left: 4px solid var(--inputBackground);
  gap: 50px;
  margin-left: 15px;
}
#thirdSection .contentContainer h2 {
  width: 100%;
  text-align: left;
  line-height: 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
}
#thirdSection .contentContainer p {
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  text-align: left;
  line-height: 35px;
  color: #000000;
  width: 80%;
}
#thirdSection .sectionDetails {
  width: 100%;
  display: flex;
  gap: 50px;
  align-items: center;
  flex-direction: column;
}

#thirdSection .paragraphDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#thirdSection .paragraphDiv .bulletPointDiv {
  display: flex;
  gap: 30px;
  width: 100%;
}
#thirdSection .paragraphDiv .bulletPointDiv img.bulletImage {
  width: 35px;
  height: 35px;
}
#thirdSection .paragraphDiv h3 {
  width: 100%;
  font-size: 40px;
}

#thirdSection .paragraphDiv p {
  width: 100%;
  font-size: 30px;
  font-weight: 400;
}

main section#thirdSection .borderLeftDiv {
  padding-left: 50px;
  border-left: 4px solid var(--inputBackground);
  display: flex;
  flex-direction: row;
  width: 98%;
  align-items: center;
  padding-bottom: 70px;
}

main section#thirdSection .borderLeftDiv .borderLeftDivContent {
  display: flex;
  flex-direction: column;
  width: 98%;
}

main section#thirdSection .borderLeftDiv .borderLeftDivContent p {
  width: 60%;
  font-size: 27px;
}

#thirdSection .vectorDiv {
  width: 40%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#thirdSection .vectorDiv img {
  width: auto;
  height: 300px;
  object-fit: contain;
}

#thirdSection .paragraphDiv .borderLeftDiv .borderLeftDivContent span {
  width: 200px;
  padding: 10px 0px;
  text-align: center;
  border: 2px solid var(--lighterSecondary);
  font-size: 20px;
  border-radius: 5px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  margin-top: 40px;
  line-height: 25px;
}

/* Fourth Section */
main #fourthSection {
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  background: var(--inputBackground);
  padding: 70px 0px 70px 0px;
  margin-bottom: 40px;
}

main #fourthSection #contentContainer {
  width: 70%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  background: #f8f9ff;
  justify-content: center;
  gap: 50px;
  padding: 0;
  margin: 0 auto;
}

main #fourthSection #contentContainer .fourthSectionFirstDivContainer {
  position: relative;
  width: auto;
}

main #fourthSection #contentContainer .fourthSectionFirstDiv {
  width: 404px;
  height: 735px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #ffffff;
  border-radius: 16px;
  position: relative;
  padding: 35px 45px 0px 45px;
  gap: 30px;
}
main #fourthSection #contentContainer .fourthSectionFirstDiv div{
  width: 100%;
}

main #fourthSection .fourthSectionFirstDiv p {
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  color: #000000;
}
main #fourthSection .fourthSectionFirstDiv img {
  height: 470px;
  width: 290px;
  align-self: flex-start;
}
main #fourthSection .fourthSectionFirstDiv .plus {
  width: 50px;
  height: auto;
  position: absolute;
  bottom: 4px;
  right: 3px;
}

main #fourthSection .fourthSectionSecondDiv {
  height: 735px;
  width: 404px;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  display: none;
  position: absolute;
  top: 0%;
  left: 1%;
  background: #2f184b;
  border-radius: 16px;
}
main #fourthSection .fourthSectionSecondDiv img {
  width: 70px;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 0;
}

main #fourthSection .fourthSectionSecondDiv p {
  width: 80%;
  margin: 10px 0px 10px 0px;
  height: auto;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  color: #ffffff;
}

main #fourthSection .fourthSectionThirdDiv {
  height: 859px;
  width: 404px;
  padding: 0;
  display: flex;
  padding: 35px 25px 0px 45px;
  gap: 30px;
  flex-direction: column;
  margin: 0;
  background: linear-gradient(180deg, #393276 0%, #8d645c);
  border-radius: 16px;
}
main #fourthSection .fourthSectionThirdDiv p {
  width: 90%;
  padding-top: 30px;
  height: fit-content;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  color: #ffffff;
}
main #fourthSection .fourthSectionThirdDiv img {
  margin: 0;
  width: 300px;
  height: 530px;
  padding: 0;
  text-align: center;
  margin-top: auto;
}

main #fourthSection .fourthSectionFourthDiv {
  width: 404px;
  height: 280px;
  background: #000000;
  border-radius: 16px;
  position: relative;
  display: flex;
  padding: 25px 25px 0px 45px;
  margin-top: 40px;
  flex-direction: column;
}

main #fourthSection .fourthSectionFourthDiv div{
  display: flex;
  margin-left: auto;
  gap: 10px;
}

main #fourthSection .fourthSectionFourthDiv img:nth-of-type(1) {
  width: auto;
  height: 20px;
}
main #fourthSection .fourthSectionFourthDiv img:nth-of-type(2) {
  width: auto;
  height: 20px;
}

main #fourthSection .fourthSectionFourthDiv p {
  width: 80%;
  font-weight: 400;
  font-size: 40px;
  line-height: 45px;
  color: #ffffff;
  padding-top: 50px;
}

/* fifth Section */
main #fifthSection {
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  background: #f8f9ff;
  padding: 70px 0px 70px 0px;
}

main #fifthSection #contentContainerTwo {
  height: fit-content;
  display: flex;
  align-items: center;
  background: #f8f9ff;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  position: relative;
  padding: 0;
}

main #fifthSection #contentContainerTwo .fifthSectionFirstDivContainer {
  position: relative;
  width: auto;
}

main #fifthSection #contentContainerTwo .fifthSectionFirstDiv {
  width: 404px;
  height: 570px;
  margin: 0;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #ffffff;
  border-radius: 16px;
  position: relative;
  padding: 35px 45px 0px 45px;
}
main #fifthSection .fifthSectionFirstDiv p {
  font-weight: 400;
  font-size: 40px;
}
main #fifthSection .fifthSectionFirstDiv img {
  height: 250px;
  width: auto;
  border-radius: 0px;
  text-align: center;
  margin: 0;
}
main #fifthSection .fifthSectionFirstDiv .plus {
  width: 50px;
  height: auto;
  position: absolute;
  bottom: 5px;
  right: 2px;
}
main #fifthSection .fifthSectionSecondDiv {
  width: 100%;
  height: 570px;
  border-radius: 16px;
  position: absolute;
  top: 0%;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  display: none;
  left: 2%;
  background: #2f184b;
  padding: 20px;
}
main #fifthSection .fifthSectionSecondDiv img {
  width: 70px;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 0;
}

main #fifthSection .fifthSectionSecondDiv p {
  width: 297px;
  height: fit-content;
  margin-top: 15px;
  padding: 20px 0px 20px 0px;
  font-weight: 400;
  font-size: 33px;
  line-height: 50px;
  color: #ffffff;
}
main #fifthSection .fifthSectionThirdDiv {
  padding: 20px;
  height: 570px;
  border-radius: 16px;
  background: linear-gradient(180deg, #3e2d3f 0%, #8d645c 100%);
  padding: 35px 45px 0px 45px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
main #fifthSection .fifthSectionThirdDiv img {
  width: 70px;
  height: auto;
}

main #fifthSection .fifthSectionThirdDiv p {
  width: 297px;
  height: 350px;
 
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  color: #ffffff;
}

/* footer section */
footer {
  width: 100%;
  height: 300px;
  background-color: var(--secondary);
  padding: 20px 20px 20px 20px;
  margin: 0 auto;
  display: flex;
}
footer section {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
  align-self: center;
}
footer .footer-heading {
  display: flex;
  gap: 10px;
}
footer .footer-heading img {
  width: 70px;
  height: 70px;
}
footer .footer-heading h2 {
  color: var(--white);
  align-self: center;
  font-size: 36px;
}
footer #footer-group {
  display: flex;
  width: 100%;
}
footer #footer-group .first-footer-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  position: relative;
}
footer #footer-group .first-footer-group section {
  display: flex;
  width: 100%;
  color: var(--white);
}
footer #footer-group .first-footer-group #art1 {
  font-size: 15px;
  letter-spacing: 1px;
}
footer #footer-group .first-footer-group #art2 {
  display: flex;
  gap: 10px;
  flex-direction: row;
}

footer #footer-group .first-footer-group #art2 p {
  font-size: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  border-right: 1px solid var(--white);
  padding-right: 10px;
}

footer #footer-group .first-footer-group #art2 p:nth-last-child(1) {
  border-right: none;
  padding-right: 10px;
}

footer #footer-group .second-footer-group {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  bottom: 0;
}
footer #footer-group .second-footer-group div#socials {
  display: flex;
  gap: 25px;
}
footer #footer-group .second-footer-group p {
  color: var(--white);
  font-size: 15px;
  margin-left: auto;
}

/* Contact us styles */
#contact {
  width: 100%;
  height: 93.3vh;
  display: flex;
  align-items: center;
}
#contact .contactUsContainer {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  display: flex;
}
#contact #contact-firstdiv {
  width: 40%;
  height: 90%;
  font-size: 300%;
}
#contact #contact-seconddiv {
  width: 40%;
  height: 90%;
  font-size: 16px;
  display: block;
}
#contact hr {
  width: 60%;
  height: 1px;
  margin: 5% 0% 5% 0%;
  background-color: black;
  transform: rotate(180deg);
}
#contact #contact-seconddiv a {
  color: var(--black);
}
#contact-footer {
  width: 100%;
  height: 50px;
}



@media screen and (min-width: 901px) {
  span.secondarySelectedText::before {
    content: "";
    display: block;
    width: 97%;
    height: 30px;
    position: absolute;
    left: -50%;
    right: -50%;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    z-index: -1;
    background-color: var(--lightPink);
  }
  /* First Section */
  main section#firstSection {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  main section#firstSection h1#introText {
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    padding: 20px;
    width: 90%;
    padding: 0px 80px;
  }

  main section#firstSection div.btnGroup {
    display: flex;
    gap: 50px;
  }

  main section#firstSection button {
    position: relative;
    background: none;
    width: 300px;
    height: 70px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 550;
    font-size: 17px;
    outline: none;
    border: none;
  }

  main section#firstSection button.downloadBtn {
    position: relative;
    background-color: var(--secondary);
    color: var(--white);
  }

  main section#firstSection button.playBtn {
    position: relative;
    border: 2px solid var(--secondary);
    color: var(--secondary);
    display: flex;
    gap: 20px;
    padding: 20px;
  }

  main section#firstSection button.playBtn p{
    width: 100%;
  }

  main section#firstSection button.playBtn img {
    width: 30px;
    height: 30px;
    margin-right: auto;
  }

  main section#firstSection img {
    width: auto;
    height: 100px;
  }
  main {
    background-image: none;
    height: auto;
    width: auto;
    position: relative;
  }

  /* Second Section */
  main section#secondSection {
    display: flex;
    margin-top: 50px;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;
  }
}

@media screen and (max-width: 900px) {
  header {
    display: flex;
    align-items: left;
    justify-content: space-evenly;
  }
  header a {
    display: none;
  }
  header #brandName {
    text-align: left;
    width: 90%;
  }
  #nav-bar {
    display: flex;
  }
  #nav-barx {
    display: none;
  }
  #menu {
    display: block;
  }
  #menu a{
    font-size: 13px;
  }
  /* first section */

  main section#firstSection #deskShowCaseImages {
    margin-top: 20px;
  }
  main section#firstSection #deskShowCaseImages .showCase2,
  .showCase8 {
    padding-top: 0px;
  }

  main section#firstSection #deskShowCaseImages .showCase3,
  .showCase7,
  .showCase5 {
    align-self: flex-start;
    padding-top: 50px;
  }

  main section#firstSection #deskShowCaseImages .showCase1,
  .showCase2,
  .showCase8,
  .showCase9,
  .hideimg {
    display: none;
  }
  main #firstSection {
    width: 100%;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    gap: 20px;
  }
  main #firstSection h1 {
    width: 80%;
    height: auto;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
  }
  main #firstSection img {
    width: 70px;
    height: auto;
  }
  main #firstSection button {
    width: 100%;
    height: 100px;
    padding: 10px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  main section#firstSection button.downloadBtn {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--secondary);
    color: var(--white);
  }

  main section#firstSection button.playBtn {
    position: fixed;
    bottom: 100px;
    left: 0;
    border: none;
    border-top: 2px solid var(--secondary);
    border-bottom: 2px solid var(--secondary);
    color: var(--secondary);
    display: flex;
    gap: 40px;
    padding: 20px;
    background: var(--white);
  }

  main section#firstSection button.playBtn p{
    width: auto;
  }

  main section#firstSection button.playBtn img {
    width: 30px;
    height: 30px;
    margin-right: 0;
  }

  main section#secondSection {
    display: block;
    margin: 0 auto;
    height: fit-content;
    padding: 40px 20px;
    background: #f8f9ff;
  }

  main section#secondSection .img-con {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 50px;
    margin: 0 auto;
  }

  main section#secondSection .img-con .secondSectionFirstDivContainer{
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  main #secondSection .secondSectionFirstDiv {
    width: 100%;
    height: 730px;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border-radius: 16px;
  }

  main #secondSection .secondSectionFirstDiv img {
    height: 540px;
    width: auto;
    text-align: center;
    margin: 0;
  }
  main #secondSection .img-con .secondSectionFirstDiv .plus {
    width: 50px;
    height: auto;
  }
  main #secondSection .secondSectionSecondDiv {
    height: 670px;
    width: 100%;
    padding: 20px 0px 10px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    display: none;
    position: absolute;
    top: 5%;
    left: 0%;
    background: #2f184b;
    border-radius: 16px;
  }
  main #secondSection .secondSectionSecondDiv img{
    position: absolute;
    right: 0;
  }

  main #secondSection .secondSectionSecondDiv p {
    width: 80%;
    margin: 20px 0px 20px 0px;
    height: auto;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    color: #ffffff;
  }

  main #secondSection .secondSectionThirdDiv {
    width: 100%;
    padding: 35px 45px 0px 45px;
  }

  main #secondSection .secondSectionThirdDiv p {
    width: 262px;
    margin: 10px 0px 10px 0px;
    height: 150px;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: #ffffff;
  }
  main #secondSection .secondSectionThirdDiv img {
    width: 100%;
    height: 615px;
    
  }
  main #secondSection .img-con .secondSectionFourthDiv {
    width: 100%;
    height: 350px;
    background: #000000;
    border-radius: 16px;
    position: relative;
    padding: 35px 45px 0px 45px;
  }

  main #secondSection .img-con .secondSectionFourthDiv img {
    width: 40px;
    height: 40px;
  }

  main #secondSection .img-con .secondSectionFourthDiv p {
    width: 80%;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    color: #ffffff;
  }

  /* third section */
  main section#thirdSection {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  #thirdSection .contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    padding-left: 50px;
    border-left: 4px solid var(--inputBackground);
    gap: 50px;
    margin-left: 15px;
  }
  #thirdSection .contentContainer h2 {
    width: 100%;
    text-align: left;
    line-height: 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    padding-top: 30px;
  }
  #thirdSection .contentContainer p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: left;
    line-height: 35px;
    color: #000000;
    width: 80%;
    padding-bottom: 30px;
  }
  #thirdSection .sectionDetails {
    width: 100%;
    display: flex;
    gap: 50px;
    align-items: center;
    flex-direction: column;
  }

  #thirdSection .paragraphDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #thirdSection .paragraphDiv .bulletPointDiv {
    display: flex;
    gap: 30px;
    width: 100%;
  }
  #thirdSection .paragraphDiv .bulletPointDiv img.bulletImage {
    width: 35px;
    height: 35px;
  }
  #thirdSection .paragraphDiv h3 {
    width: 100%;
    font-size: 34px;
    font-weight: 600;
  }

  main section#thirdSection .borderLeftDiv {
    padding-left: 44px;
    border-left: 4px solid var(--inputBackground);
    display: flex;
    flex-direction: column;
    width: 93%;
    align-items: center;
    padding-top: 50px;
  }

  main section#thirdSection .borderLeftDiv .borderLeftDivContent {
    display: flex;
    flex-direction: column;
    width: 96%;
  }

  main section#thirdSection .borderLeftDiv .borderLeftDivContent p {
    width: 80%;
    font-size: 20px;
    line-height: 30px;
  }

  #thirdSection .vectorDiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  #thirdSection .vectorDiv img {
    width: auto;
    height: 150px;
    object-fit: contain;
  }

  #thirdSection .paragraphDiv .borderLeftDiv .borderLeftDivContent span {
    width: 200px;
    padding: 10px 0px;
    text-align: center;
    border: 2px solid var(--lighterSecondary);
    font-size: 20px;
    border-radius: 5px;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    margin-top: 40px;
    line-height: 25px;
  }
  /* fourth section  */
  main #fourthSection {
    width: 100%;
    margin: 0 auto;
    background: #f8f9ff;
    padding: 50px 20px;
  }

  main #fourthSection #contentContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: #f8f9ff;
    justify-content: space-evenly;
    gap: 50px;
  }

  main #fourthSection #contentContainer .fourthSectionFirstDiv {
    width: 100%;
    height: 780px;
    margin: 0;
    padding: 35px 45px 0px 45px;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border-radius: 16px;
  }

  main #fourthSection .fourthSectionFirstDiv p {
    font-size: 38px;
  }

  main #fourthSection .fourthSectionFirstDiv img {
    height: 510px;
    width: 90%;
    border-radius: 0px;
  }

  main #fourthSection .fourthSectionFirstDiv .plus {
    width: 50px;
    height: auto;
  }

  main #fourthSection .fourthSectionSecondDiv {
    height: fit-content;
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    display: none;
    position: absolute;
    top: 1%;
    left: 0%;
    background: #2f184b;
    border-radius: 16px;
    display: none;
  }

  main #fourthSection .fourthSectionSecondDiv p {
    width: 80%;
    margin: 10px 0px 10px 0px;
    height: auto;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    color: #ffffff;
  }

  main #fourthSection .fourthSectionThirdDiv {
    height: 750px;
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    border-radius: 16px;
  }

  main #fourthSection .fourthSectionThirdDiv p {
    width: 80%;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    color: #ffffff;
  }
  main #fourthSection .fourthSectionThirdDiv img {
    height: 490px;
  }

  main #fourthSection .fourthSectionFourthDiv {
    width: 100%;
    height: 280px;
    background: #000000;
    border-radius: 16px;
    position: relative;
    padding: 35px 45px 0px 45px;
  }


  main #fourthSection .fourthSectionFourthDiv p {
    width: 80%;
    height: auto;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    color: #ffffff;
  }

  /* fifth section */

  main #fifthSection {
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    padding: 50px 20px;
    background: #f8f9ff;
  }

  main #fifthSection #contentContainerTwo {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    background: #f8f9ff;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
    padding: 0;
  }

  main #fifthSection #contentContainerTwo .fifthSectionFirstDiv {
    width: 360px;
    height: 570px;
    margin: 0;
    padding: 0%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #ffffff;
    border-radius: 16px;
    position: relative;
  }
  main #fifthSection .fifthSectionFirstDiv p {
    width: 290px;
    height: 250px;
    margin: 10px 0px 10px 0px;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    color: #000000;
  }
  main #fifthSection .fifthSectionFirstDiv img {
    height: auto;
    width: 70%;
    border-radius: 0px;
    text-align: center;
    margin: 0;
  }
  main #fifthSection .fifthSectionFirstDiv .plus {
    width: 50px;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  main #fifthSection .fifthSectionSecondDiv {
    width: 100%;
    height: 570px;
    border-radius: 16px;
    position: absolute;
    top: 0;
    left: 0%;
    display: none;
    background: #2f184b;
  }

  main #fifthSection .fifthSectionSecondDiv p {
    width: 297px;
    height: fit-content;
    margin-top: 15px;
    padding: 20px 0px 20px 0px;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 50px;
    color: #ffffff;
  }
  main #fifthSection .fifthSectionThirdDiv {
    width: 100%;
    height: 570px;
    border-radius: 16px;
    background: linear-gradient(180deg, #3e2d3f 0%, #8d645c 100%);
  }
  main #fifthSection .fifthSectionThirdDiv img {
    width: 70px;
    height: auto;
  }

  main #fifthSection .fifthSectionThirdDiv p {

    font-size: 40px;
    color: #ffffff;
  }

  footer {
    height: 600px;
    padding: 20px;
    width: 100%;
  }

  footer section{
    align-self: flex-start;
  }
  footer #footer-group {
    display: flex;
    width: 100%;
  }
  footer #footer-group section {
    gap: 20px;
    
  }
  footer #footer-group .first-footer-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    position: relative;
  }
  footer #footer-group .first-footer-group section {
    display: flex;
    width: 100%;
    color: var(--white);
  }
  footer #footer-group .first-footer-group #art1 {
    font-size: 15px;
    letter-spacing: 1px;
  }
  footer #footer-group .first-footer-group #art2 {
    display: flex;
    gap: 10px;
  }

  footer #footer-group .first-footer-group #art2 p {
    font-size: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    border-right: 1px solid var(--white);
    padding-right: 10px;
  }

  footer #footer-group .first-footer-group #art2 p:nth-last-child(1) {
    border-right: none;
    padding-right: 10px;
  }

  footer #footer-group .second-footer-group {
    position: unset;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    top: -18px;
  }
  footer #footer-group .second-footer-group div#socials {
    display: flex;
    gap: 25px;
  }
  footer #footer-group .second-footer-group p {
    color: var(--white);
    font-size: 15px;
    margin-left: 0;
  }
  /* Contact us media queries */
  #contact {
    width: 100%;
    padding: 20px;
  }
  .contactUsContainer {
    display: flex;
    flex-direction: column;
  }
  #contact #contact-firstdiv {
    width: 100%;
    font-size: 250%;
    height: fit-content;
    margin: 20% 0% 20% 0%;
  }
  #contact #contact-seconddiv {
    width: 100%;
    height: fit-content;
    margin-bottom: 35%;
  }
  #contact-footer {
    width: 100%;
    height: 100px;
  }
}
